.main {
    height: 100%;
    grid-template-columns: minmax(1.5rem, 1fr) minmax(20.4375rem, 68.75rem) minmax(1.5rem, 1fr);
    grid-template-rows: minmax(4.6875rem, 1fr) auto minmax(4.6875rem, 1fr);
}

.main > * {
    grid-column: 2;
    grid-row: 2;
}

.testimonials {
    grid-template-columns: minmax(auto, 600px);
    grid-gap: 1.5rem;
    margin: auto;

    &__card {
        
    }

    &__person {
        
    }

    &__image {
        
    }

    &__position {
       
    }

    &__accent {
        
    }

    &__review {
        
    }

}