/* SETUP */

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 100%; // Let the user control zoom level in the browser. Usally == 16px
}


*, *::before, *::after {
    box-sizing: inherit;    
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--light-grayish-blue);
    font-family: 'Barlow Semi Condensed', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 0.8125rem; //13px
    font-weight: 500;
    line-height: 1.3;
    color: #000000;
}

